<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar departamento</title>
    <link rel="stylesheet" href="/css/crear_empleado.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid col-6 bg-custom-gray">
        <div class="container">
            <h1 style="font-weight: bold;">Editar departamento</h1>
            <br>
            <form th:action="@{/departamento/actualizarDepartamentos/{codigo}(codigo=${departamento.codigo})}" th:object="${departamento}" method="POST">
                <div class="form-group col-5 mx-auto text-center">
                    <label for="nombre">Nombre:</label>
                    <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required>
                </div>
                <div class="form-group col-5 mx-auto text-center">
                    <label for="Presupuesto">Presupuesto:</label>
                    <input type="text" th:field="*{Presupuesto}" id="Presupuesto" class="form-control" onfocus="if(this.value==='0.0') this.value='';" onblur="if(this.value==='') this.value='0.0';" required>
                    <p class="text-danger small" th:if="${error != null}" th:text="${error}"></p>

                </div>
                <div class="form-group col-5 mx-auto text-center">
                    <label for="gastos">Gastos:</label>
                    <input type="text" th:field="*{gastos}" id="gastos" class="form-control" onfocus="if(this.value==='0.0') this.value='';" onblur="if(this.value==='') this.value='0.0';" required>
                    <p class="text-danger small" th:if="${error != null}" th:text="${error}"></p>

                </div>
                
                
                <div class="form-group col-5 mx-auto text-center">
                    <button  type="submit" class="btn btn-success">Guardar</button>
                    <a th:href="@{/departamento}" class="btn btn-secondary">Cancelar</a>
                </div>

    </div>
    
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
